
/* Navigation */
/* 네비게이션 유형1 
    1. 가운데 영역
    2. 레이아웃 float으로 작업 (구익스 호환성)
*/

#header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #eee;
}
.header {
    overflow: hidden;
}
.header h1 {
    padding: 30px 0;
    float: left;
}
.header .menu {
    float: right;
}
.header .menu li{
    display: inline;
}
.header .menu li a {
    padding: 40px 16px;
    display: inline-block;
}
