
/* Navigation */
/* 네비게이션 유형1 
    1. 가운데 영역
    2. 레이아웃 float으로 작업 (구익스 호환성)
*/

#header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
    line-height: 70px;
}

.header-one {
    text-align: center;
}
.header-one h1 {
    font-family: var(--fontNexon1B);
    float: left;
}
.header-one .menu {
    font-family: var(--fontNexon1M);
    float: right;
}
.header-one .menu li{
    display: inline;
}
.header-one .menu li a {
    padding: 0, 16px;
    display: inline-block;
}
.header-one .menu li:last-child a{
    padding-right: 0;
}
/* header-two */
.header-two {
    overflow: hidden;
}
.header-two h1 {
    font-family: var(--fontNexon1B);
    float: left;
}
.header-two .menu {
    font-family: var(--fontNexon1M);
    float: right;
}
.header-two .menu li{
    display: inline;
}
.header-two .menu li a {
    padding: 0, 16px;
    display: inline-block;
}
.header-two .menu li:last-child a{
    padding-right: 0;
}
/* header-three */
.header-three {
    text-align: center;
    font-family: var(--fontNexon1M);
}
.header-three h1 {
    font-family: var(--fontNexon1B);
    position: absolute;
    left: 2%;
    top: 0;
}
.header-three .menu li{
    display: inline;
}
.header-three .menu li a {
    padding: 0 16px;
}
.header-three .member{
   position: absolute;
   right: 2%;
   top: 0;
}
.header-three .member a {

    margin-left: 10px;
}
/* header dark-mode */
.dark #header {
    background-color: #2e2e2e;
}
.dark #header h1 a {
    color: #fff;
}
.dark .menu li a {
    color: #fff;
}
.dark .member a {
    color: #fff;
}