:root{
    /* 폰트 */
    font-size: 16px;

    --fontScore1 :'S-CoreDream-1Thin';
    --fontScore2 :'S-CoreDream-2ExtraLight';
    --fontScore3 :'S-CoreDream-3Light';
    --fontScore4 :'S-CoreDream-4Regular';
    --fontScore5 :'S-CoreDream-5Medium';
    --fontScore6 :'S-CoreDream-6Bold';
    --fontScore7 :'S-CoreDream-7ExtraBold';
    --fontScore8 :'S-CoreDream-9Black';

    --fontGmarketL :'GmarketSansLight';
    --fontGmarketM :'GmarketSansMedium';
    --fontGmarketB :'GmarketSansBold';

    --fontNexonLv1G :'NEXON Lv1 Gothic OTF';
    --fontNexonLv2G :'NEXON Lv2 Gothic';
    --fontNexonLv1GL :'NEXON Lv1 Gothic OTF Light';
    --fontNexonLv2GL :'NEXON Lv2 Gothic Light';
    --fontNexonLv1GB :'NEXON Lv1 Gothic OTF Bold';
    --fontNexonLv2GB :'NEXON Lv2 Gothic Bold';
}