/* cardType */
body {
    background: #f3f3f3;
}
.cardType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
/* cardType01 */
.cardType01 {
    font-family: 'GmarketSans';
    padding: 60px 0;
}
.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}
.cardType01 p {
    font-weight: 300;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}
/* float (익스플로러) 레이아웃 */
/* .card-wrap {
    overflow: hidden;
}
    float: left;
    width: 387px;
    margin-right: 19px;
}
.card-wrap > div:last-child {
    margin-right: 0;
} */

/* flex 레이아웃 */
.cardType01 .card-wrap {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between; 
}
.cardType01 .card-wrap > div {
    width: 387px;
}
.cardType01 .card {}
.cardType01 .card .card-img {}
.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}    
    
.cardType01 .card .card-desc {
    font-size: 20px;
    font-weight: 300;
    display: block;
    overflow: hidden;               
    display: -webkit-box;           
    -webkit-line-clamp: 2;          
    -webkit-box-orient: vertical;
}
.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}
/* cardType02 */
.cardType02 {
    font-family: 'S-CoreDream';
    padding: 150px 0;
}
.cardType02 h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 7px;
}
.cardType02 p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}
.cardType02 .card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 20px;
}
.cardType02 .card-wrap .card {
    width: 285px;
    height: 356px;
    margin: 40px 20px 0 0;
    padding: 15px 15px 16px 14px;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
}
.cardType02 .card-wrap .card .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.cardType02 .card-wrap .card .card-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 6px;
}
.cardType02 .card-wrap .card .card-word {}
.cardType02 .card-wrap .card .card-word span {
    font-size: 10px;
    margin: 6px 202px 0 1px;
    padding: 4px 16px 3px;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
