<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="웹 사이트 제작을 위한 사이트입니다.">
    <meta name="author" content="givemehyun">
    <meta name="keywords" content="웹 사이트 제작을 위한 사이트입니다.">
    <title>cardType01</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="cardType" class="cardType01">
        
    </section>
</body>
</html>