/* 카드 타입 유형 CSS*/
body{
    background-color: #f3f3f3;
}
/* cardType01 */
.cardType{
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.cardType01{
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.cardType01 h2 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 7px;
}
.cardType01 p {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}
/* float을 이용한 레이아웃 */
/* .card-wrap {
    overflow: hidden;
}
.card-wrap > div {
    float: left;
    width: 387px;
    margin-right: 19px;
}
.card-wrap > div:last-child {
    margin-right: 0;
} */

/* flex를 이용한 레이아웃 */
.cardType01 .card-wrap {
    display: flex;
    justify-content: space-between;
}
.cardType01 .card-wrap > div {
    width: 387px;
}
.cardType01 .card {}
.cardType01 .card .card-img {}
.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    white-space: nowrap;  /* 한줄 효과 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden; /* 두줄 효과 */
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}
/* cardTypep02 */
.cardType02{
    font-family: "S-CoreDream";
    padding: 150px;
}
.cardType02 h2 {
    font-weight: 500px;
    font-size: 50px;
    margin-bottom: 7px;
    text-align: center;
}
.cardType02 p {
    font-weight: 300;
    font-size: 26px;
    text-align: center;
}
.cardType02 .card-wrap {}
.cardType02 .card-wrap .card{
    width: 285px;
    height: 350px;
    margin: 40px 20px 0 0;
    padding: 15px 15px 16px 14px;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
}
.cardType02 .card-wrap .card .card-title{
    display: block;
    font-size: 24px;
    font-weight: 500;
}
.cardType02 .card-wrap .card .card-desc{
    display: block;
}
.cardType02 .card-wrap .card .card-word span{
}
/* float */
/* .cardType02 .card-wrap {
    overflow: hidden;
}
.cardType02 .card-wrap .card{
    float: left;
}
.cardType02 .card-wrap .card:last-child{
    margin-right: 0;
} */
/* flex */
/* .cardType02 .card-wrap{
    display: flex;
} */

/* grid */
/* .cardType02 .card-wrap{
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap : 20px
} */
