<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="웹 사이트 제작을 위한 사이트입니다.">
    <meta name="author" content="givemehyun">
    <meta name="keywords" content="웹 사이트 제작을 위한 사이트입니다.">
    <title>cardType01</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="cardType" class="cardType01">
        <div class="container">
            <div  class="cardType01">
                <h2>카드 유형1</h2>
                <p>사이트 제작에서 많이 사용하고 있는 카드 스타일입니다.</p>
                <div class="card-box">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>