<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="웹 사이트 제작을 위한 사이트입니다.">
    <meta name="author" content="givemehyun">
    <meta name="keywords" content="웹 사이트 제작을 위한 사이트입니다.">
    <title>cardType01</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <!-- Card Type CSS -->
    <link rel="stylesheet" href="cardType.css">
</head>
<body>

    <section id="cardType" class="cardType01">
        <div class="container">
        <h2>Giveme Parsonal Color</h2>
        <p>퍼스널 컬러, 퍼스널 컬러 자가진단, 퍼스널 컬러에 맞는 쿨톤, 웜톤, 화장품, 화장법, 패션, 패션아이템과 퍼스널 컬러별 소통 게시판을 준비하였습니다.</p>
        <div class="card-wrap">
            <div class="card">
                <a href="#">
                    <img src="css/img/card01.jpg" alt="퍼스널 컬러 자가진단 관련 이미지입니다." class="card-img">
                    <strong class="card-title">퍼스널 컬러 자가진단</strong>
                    <span class="card-desc">퍼스널 컬러 자가 진단을 위한 진단키트를 준비하였습니다.</span>
                    <span class="card-keyword">
                      <span>#퍼스널 컬러 자가진단</span>
                    </span>
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="css/img/card02.jpg" alt="나를 돋보이게 하는 퍼스널 컬러 알아보기." class="card-img">
                    <strong class="card-title">나를 돋보이게 하는 컬러는?</strong>
                    <span class="card-desc">4계절로 나누어진 퍼스널 컬러를 알아봅시다.</span>
                    <span class="card-keyword">
                      <span>#봄웜 #여름쿨 #가을웜 #겨울쿨</span>
                    </span>
                </a>    
            </div>
            <div>
                <a href="#">
                    <img src="css/img/card03.jpg" alt="톤별 아이템 구경하기" class="card-img">
                    <strong class="card-title">나에게 맞는 컬러의 아이템</strong>
                    <span class="card-desc">톤별로 분류해놓은 화장품과 패션아이템을 구경해보세요.</span>
                    <span class="card-keyword">
                      <span>#쿨톤 #웜톤 #화장법 #패션</span>
                    </span>
                </a>    
            </div>
        </div>
    </div>
    </section>
    <!-- cardType01 -->
</body>
</html>