<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="webstoryboy">
    <meta name="description" content="웹 사이트 제작을 위한 사이트입니다.">
    <meta name="keywords" content="웹스토리보이, 사이트, 웹퍼블리셔, 프론트앤드개발자.">
    <title>CardType01</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
​
    <!-- Card Type CSS -->
    <link rel="stylesheet" href="css/cardType.css">
</head>
<body>
​
    <!-- cartType01 -->
    <section class="cardType ">
        <div class="container">
            <div class="cardType01">
                <h2>Giveme 퍼스널 컬러</h2>
                <p>퍼스널 컬러, 퍼스널 컬러 자가진단, 퍼스널 컬러에 맞는 쿨톤, 웜톤, 화장품, 화장법,
                    패션, 패션 아이템과 퍼스널 컬러별 소통 게시판을 준비했습니다.
                </p>
                <div class="card-wrap">
                    <div class="card">
                        <a href="#">
                            <img src="css/img/card01.jpg" alt="퍼스널 컬러 자가진단을 해보세요 !" class="card-img">
                            <strong class="card-title">퍼스널 컬러 자가진단</strong>
                            <span class="card-desc">퍼스널 컬러 자가 진단을 위한 진단키트가 준비되어 있습니다.</span>
                            <span class="card-keyword">
                                <span>#퍼스널 컬러</span>
                                <span>#자가진단</span>
                            </span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="css/img/card02.jpg" alt="퍼스널 컬러에 대하여" class="card-img">
                            <strong class="card-title">나를 돋보이게 하는 컬러는?</strong>
                            <span class="card-desc">크게 4계절로 나누어진 퍼스널 컬러를 알아봅시다.</span>
                            <span class="card-keyword">
                                <span>#봄웜</span>
                                <span>#여름쿨</span>
                                <span>#가을웜</span>
                                <span>#겨울쿨</span>
                            </span>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="css/img/card03.jpg" alt="쇼핑하고 더 예뻐지기" class="card-img">
                            <strong class="card-title">나에게 맞는 컬러의 아이템</strong>
                            <span class="card-desc">톤별로 분류해놓은 화장품과 패션아이템을 구경해보세요.</span>
                            <span class="card-keyword">
                                <span>#쿨톤</span>
                                <span>#웜톤</span>
                                <span>#화장법</span>
                                <span>#패션</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //cartType01 -->
​
​
    <!-- cartType02 -->
    <section class="cardType">
        <div class="container">
            <div class="cardType02">
                <h2>과일의 성분</h2>
                <p>과일은 과연 몸에 좋을까? 과일에 대한 모든 것</p>
                    <div class="card-wrap">
                        <div class="card">
                            <a href="#">
                                <img src="css/img/card04.jpg" alt="포도에 관한 충격적인 사실" class="card-img">
                                <strong class="card-title">포도, 알고먹자</strong>
                                <span class="card-desc">포도의 역사와 맛, 성분등의 정보를 조사 하였습니다.</span>
                                <span class="card-keyword">
                                    <span>#웹 초보</span>
                                    <span>#웹 사이트</span>
                                    <span>#웹표준</span>
                                </span>
                            </a>
                        </div>
                        <div class="card">
                            <a href="#">
                                <img src="css/img/card05.jpg" alt="딸기에 관한 충격적인 사실" class="card-img">
                                <strong class="card-title">딸기, 알고먹자</strong>
                                <span class="card-desc">딸기의 역사와 맛, 성분등의 정보를 조사 하였습니다.</span>
                                <span class="card-keyword">
                                    <span>#웹 초보</span>
                                    <span>#웹 사이트</span>
                                    <span>#웹표준</span>
                                </span>
                            </a>
                        </div>
                        <div class="card">
                            <a href="#">
                                <img src="css/img/card06.jpg" alt="오렌지에 관한 충격적인 사실" class="card-img">
                                <strong class="card-title">오렌지, 알고먹자</strong>
                                <span class="card-desc">오렌지의 역사와 맛, 성분등의 정보를 조사 하였습니다.</span>
                                <span class="card-keyword">
                                    <span>#웹 초보</span>
                                    <span>#웹 사이트</span>
                                    <span>#웹표준</span>
                                </span>
                            </a>
                        </div>
                        <div class="card">
                            <a href="#">
                                <img src="css/img/card07.jpg" alt="복숭아에 관한 충격적인 사실" class="card-img">
                                <strong class="card-title">복숭아, 알고먹자</strong>
                                <span class="card-desc">복숭아의 역사와 맛, 성분등의 정보를 조사 하였습니다.</span>
                                <span class="card-keyword">
                                    <span>#웹 초보</span>
                                    <span>#웹 사이트</span>
                                    <span>#웹표준</span>
                            </span>
                        </a></div>
                    </div>
            </div>
        </div>
    </section>
    <!-- //cartType02 -->
</body>
</html>