<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageType</title>
    <!-- 나눔 스퀘어 웹폰트 -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <!-- Card Type CSS -->
    <link rel="stylesheet" href="hoverEffectType.css">
</head>
<body>
    <!-- 이미지를 표현하는 방법 
        01. 이미지를 img태그로 표현 (alt) ->이미지에 의미가 있을 때

        02. 이미지를 background 속성으로 표현 ->의미가 없을 때(장식이나 배경)

        03. 의미가 있는 이미지도 background로 사용함.( 코딩이 쉬움 / alt 못 씀 ) ->이미지 스프라이트 기법
            -이미지 스프라이트를 사용하게 되면 접근성이 깨짐 -> IR 효과 (alt)

        04. 이미지 해상도를 신경써야 함 (디바이스 별 이미지 분류 작업 해야함.) ->picture 태그를 사용, figure 태그 사용
    -->

    <!-- hoverEffectType01 -->
    <section class="imageType">
        <div class="container">
            <div class="imageType01">
                <h2>동물공감 인터뷰</h2>
                <div class="image-wrap">
                    <div class="image">
                        <img class="image-img" src="css/img/imagetype01.jpg" alt="웰시코기 이미지입니다.">
                        <div class="image-cont">
                            <h3 class="image-title">애교만점 웰시코기</h3>
                            <p class="image-desc">포메라니안은 작고 귀여운 체구에 비해 대범한 성격을 가지고 있으며 호기심이 많은 견종입니다. </p>
                            <a class="image-btn red" href="#">자세히 보기</a>
                        </div>
                    </div>
                    <div class="image">
                        <img class="image-img" src="css/img/imagetype02.jpg" alt="비숑프리제 이미지입니다.">
                        <div class="image-cont">
                            <h3 class="image-title">강아지계의 연예인, 비숑프리제</h3>
                            <p class="image-desc">최근 연예인들 사이에서 키우는 강아지로 유명해진 비숑프리제는 생김새가 아주 작은 바빗과 매우 흡사하여 바비숑이라는 이름...</p>
                            <a class="image-btn yellow" href="#">자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //hoverEffectType01 -->
    
</body>
</html>