/* imageType */
body {
    background: #f3f3f3;
}
.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
/* imageType01 */
.imageType01{
    font-family: 'GmarketSans';
    padding: 60px 0;
}
.imageType01 h2{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 7px;
}
.imageType01 .box{
    position: relative;
    bottom: 190px;
    right: 30px;
}
.imageType01 .image-wrap{
    display: flex;
    font-family: "S-core Dream";
    justify-content: space-between; 
    gap: 10px;
    margin-bottom: 60px;
}
.imageType01 .image-wrap .image-title{
    font-size: 30px;
    margin-left: 60px;
    font-weight: 700;
    color: #fff;
    display: block;
}
.imageType01 .image-wrap .image-desc{
    font-size: 15px;
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
    font-weight: 400;
    color: #fff;
    display: block;
}
.imageType01 .image-wrap .image-keyword{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-left: 60px;

}
.imageType01 .image-wrap .image-keyword span{
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #797776;
    width: 108px;
    height: 33px;
}
/* imageType02 */
.imageType02{
    font-family: 'GmarketSans';
    padding: 60px 0;
}
.imageType02 .image-wrap{
    display: flex;
}
.imageType02 .image-card{
    padding-left: 20px;
}
.imageType02 h2{
    font-size: 50px;
    font-weight: 500;
    margin-left: 20px;
}
.imageType02 .image-title{
    font-family: "S-Core Dream";
    font-size: 42px;
    font-weight: 600;
}
.imageType02 .box{
    position: relative;
    bottom: 200px;
    right: 30px;
}
/* imageType03 */
/* imageType03 */

