<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imageType</title>
    <!-- 나눔 스퀘어 웹폰트 -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <!-- Card Type CSS -->
    <link rel="stylesheet" href="imageType.css">
</head>
<body>
    <!-- imageType01 -->
    <section class="imageType">
        <div class="container">
            <div class="imageType01">
                <h2>강아지와 고양이의 특성</h2>
                <div class="image-wrap">
                    <div class="image-card">
                        <a href="#">
                            <img src="css/img/image 5.jpg" alt="도도한 고양이" class="img">
                            <div class="box">
                                <strong class="image-title">시크하고 도도한 고양이</strong>
                                <span class="image-desc">고양이는 대부분 시크한 성격을 가지고 있습니다.
                                    도도한 매력의 고양이에 대해 알아봅시다.</span>
                                <span class="image-keyword">
                                    <span>자세히 보기</span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="image-card">
                        <a href="#">
                            <img src="css/img/image 13.jpg" alt="귀여운 강아지" class="img">
                        <div class="box">
                            <strong class="image-title">애교만점 주인사랑 강아지</strong>
                            <span class="image-desc">강아지는 애교가 많고 주인을 잘 따릅니다.
                                 강아지에 대해서 알아봅시다.</span>
                            <span class="image-keyword">
                                <span>자세히 보기</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- imageType01 -->
    <!-- imageType02 -->
    <section class="imageType">
        <div class="container">
            <div class="imageType01">
                <h2>요즘 핫한 SNS</h2>
                <div class="image-wrap">
                    <div class="image-card">
                        <a href="#">
                            <img src="css/img/image 14.jpg" alt="인스타그램" class="img">
                            <div class="box">
                                <strong class="image-title">Instagram</strong>
                            </div>
                        </a>
                    </div>
                    <div class="image-card">
                        <a href="#">
                            <img src="css/img/image 15.jpg" alt="귀여운 강아지" class="img">
                        <div class="box">
                            <strong class="image-title">Facebook</strong>
                            <span class="image-keyword">
                                <span>자세히 보기</span>
                            </span>
                        </a>
                    </div>
                    <div class="image-card">
                        <a href="#">
                            <img src="css/img/image 16.jpg" alt="트위터" class="img">
                        <div class="box">
                            <strong class="image-title">Twitter</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cardType02 -->
</body>
</html>