<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="웹 사이트 제작을 위한 사이트입니다.">
    <meta name="author" content="givemehyun">
    <meta name="keywords" content="웹 사이트 제작을 위한 사이트입니다.">
    <title>Site</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/var.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="dark">
    <!--  header -->
    <header id="header">
        <div class=".container">
            <div class="header-three">
        <h1><a href ="main.html">givemehyun</a></h1>
                 <nav class="menu">
                    <ul>
                        <li><a href="#">메뉴 아이템</a></li>
                        <li><a href="#">메뉴 아이템</a></li>
                        <li><a href="#">메뉴 아이템</a></li>
                        <li><a href="#">메뉴 아이템</a></li>
                        <li><a href="#">메뉴 아이템</a></li>
                    </ul>
                </nav>
                <div class="member">
                    <a href="#" class="btn-style radius">회원가입</a>
                    <a href="#" class="btn-style radius">로그인</a>
                </div> 
            </div>
        </div>
    </header>
    <!--  header -->
</body>
</html>
